In [ ]:
pip install pyreadr

In [ ]:
import pyreadr 
import pandas as pd
import warnings
from sklearn.tree import DecisionTreeRegressor
warnings.filterwarnings

In [ ]:
df = pyreadr.read_r('college_scorecard_2013.rds')
df

In [ ]:
data = df[None]
data

In [ ]:
data.info()

In [ ]:
data['admission'].mean()

In [ ]:
data['admission'] = data['admission'].fillna(0.6707390822784811)

In [ ]:
data['admission'].mean()

In [ ]:
#code to find the mean of multiple columns and fill up each rows of the columns
float_columns = ['veteran','net_cost','med_debt','med_debt_withdraw','repay_5yr_rate','completion','retention','avg_family_inc','med_family_inc','first_gen','avg_entry_age','default_3yr_rate','med_10yr_salary','fed_loan','pell_grant','sd_10yr_salary','ft_faculty','race_white','race_black','race_pacific','race_asian','race_native','race_other','repay_5yr_rate_withdraw','race_hispanic','male','female']
float_cols = data[float_columns]
columns_mean = float_cols.mean()
for col in float_cols.columns:
    data[col] = float_cols[col].fillna(columns_mean[col])
data.info()

In [ ]:
data

In [ ]:
data['avg_10yr_salary'].mean()

In [ ]:
data['med_debt_withdraw'].median()

In [ ]:
data['spend_per_student'].info()

In [ ]:
data['spend_per_student'] = data['spend_per_student'].astype(float)

In [ ]:
data['online_only'].info()

In [ ]:
data[['avg_sat','undergrad_pop','grad_pop','tuition','cost','revenue_per_student','avg_faculty_salary','tuition_nonresident','spend_per_student','avg_10yr_salary']] = data[['avg_sat','undergrad_pop','grad_pop','tuition','cost','revenue_per_student','avg_faculty_salary','tuition_nonresident','spend_per_student','avg_10yr_salary']].astype(float)
data

In [ ]:
data.info()

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3312 entries, 0 to 3311
Data columns (total 51 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   unit_id                  3312 non-null   int32
 1   ope_id                   3312 non-null   object
 2   main_campus              3312 non-null   bool
 3   branches                 3312 non-null   int32
 4   open_admissions          3312 non-null   bool
 5   name                     3312 non-null   object
 6   city                     3312 non-null   object
 7   state                    3312 non-null   category
 8   zip                      3312 non-null   object
 9   online_only              3113 non-null   object
 10  primary_degree           3312 non-null   category
 11  highest_degree           3312 non-null   category
 12  ownership                3312 non-null   category
 13  avg_sat                  1389 non-null   float64
 14  undergrad_pop            2822 non-null   float64
 15  grad_pop                 2163 non-null   float64
 16  cost                     2595 non-null   float64
 17  tuition                  2840 non-null   float64
 18  tuition_nonresident      2677 non-null   float64
 19  revenue_per_student      3111 non-null   float64
 20  spend_per_student        3111 non-null   float64
 21  avg_faculty_salary       2995 non-null   float64
 22  ft_faculty               3312 non-null   float64
 23  admission                3312 non-null   float64
 24  retention                3312 non-null   float64
 25  completion               3312 non-null   float64
 26  fed_loan                 3312 non-null   float64
 27  pell_grant               3312 non-null   float64
 28  avg_family_inc           3312 non-null   float64
 29  med_family_inc           3312 non-null   float64
 30  avg_10yr_salary          2832 non-null   float64
 31  sd_10yr_salary           3312 non-null   float64
 32  med_10yr_salary          3312 non-null   float64
 33  med_debt                 3312 non-null   float64
 34  med_debt_withdraw        3312 non-null   float64
 35  default_3yr_rate         3312 non-null   float64
 36  repay_5yr_rate_withdraw  3312 non-null   float64
 37  repay_5yr_rate           3312 non-null   float64
 38  avg_entry_age            3312 non-null   float64
 39  veteran                  3312 non-null   float64
 40  first_gen                3312 non-null   float64
 41  male                     3312 non-null   float64
 42  female                   3312 non-null   float64
 43  race_white               3312 non-null   float64
 44  race_black               3312 non-null   float64
 45  race_hispanic            3312 non-null   float64
 46  race_asian               3312 non-null   float64
 47  race_native              3312 non-null   float64
 48  race_pacific             3312 non-null   float64
 49  net_cost                 3312 non-null   float64
 50  race_other               3312 non-null   float64
dtypes: bool(2), category(4), float64(38), int32(2), object(5)
memory usage: 1.1+ MB

In [18]:
data[['avg_faculty_salary','spend_per_student','revenue_per_student','tuition','tuition_nonresident','cost','undergrad_pop','grad_pop','avg_sat']] = data[['avg_faculty_salary','spend_per_student','revenue_per_student','tuition','tuition_nonresident','cost','undergrad_pop','grad_pop','avg_sat']].astype(float)
data

,unit_id,ope_id,main_campus,branches,open_admissions,name,city,state,zip,online_only,...,male,female,race_white,race_black,race_hispanic,race_asian,race_native,race_pacific,net_cost,race_other
0,100654,001002,True,1,False,Alabama A & M University,Normal,AL,35762,False,...,0.486100,0.51390,0.027900,0.950100,0.008900,0.002200,0.001200,0.001000,13415.000000,0.008600
1,100663,001052,True,1,False,University of Alabama at Birmingham,Birmingham,AL,35294-0110,False,...,0.413500,0.58650,0.598700,0.259000,0.025800,0.051800,0.002600,0.000700,14805.000000,0.061400
2,100690,025034,True,1,True,Amridge University,Montgomery,AL,36117-3553,False,...,0.391300,0.60870,0.291900,0.422400,0.009300,0.003100,0.003100,0.003100,7455.000000,0.267100
3,100706,001055,True,1,False,University of Alabama in Huntsville,Huntsville,AL,35899,False,...,0.558000,0.44200,0.701200,0.131000,0.033800,0.036400,0.014500,0.000200,17520.000000,0.082800
4,100724,001005,True,1,False,Alabama State University,Montgomery,AL,36104-0271,False,...,0.408500,0.59150,0.016100,0.928500,0.011400,0.001500,0.000900,0.000700,11936.000000,0.040900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3307,47702001,001459,False,99,False,Strayer University-Schaumburg Campus,Schaumburg,IL,601735081,NaN,...,0.439499,0.55873,0.540994,0.163488,0.122793,0.036708,0.012106,0.004339,18819.491041,0.117801
3308,47702002,001459,False,99,False,Strayer University-Downers Grove Campus,Downers Grove,IL,605151169,NaN,...,0.439499,0.55873,0.540994,0.163488,0.122793,0.036708,0.012106,0.004339,18819.491041,0.117801
3309,47702003,001459,False,99,False,Strayer University-Aurora Campus,Aurora,IL,605066220,NaN,...,0.439499,0.55873,0.540994,0.163488,0.122793,0.036708,0.012106,0.004339,18819.491041,0.117801
3310,48065701,008694,False,23,False,Rasmussen College - Overland Park,Overland Park,KS,662102786,NaN,...,0.439499,0.55873,0.540994,0.163488,0.122793,0.036708,0.012106,0.004339,18819.491041,0.117801
3311,48158001,001459,False,99,False,Strayer University-St Louis-Brentwood,Brentwood,MO,63144,NaN,...,0.439499,0.55873,0.540994,0.163488,0.122793,0.036708,0.012106,0.004339,18819.491041,0.117801

In [19]:
#code to find the mean of multiple columns and fill up each rows of the columns
float_columntwo = ['avg_faculty_salary','avg_10yr_salary','spend_per_student','revenue_per_student','tuition','tuition_nonresident','cost','undergrad_pop','grad_pop','avg_sat']
float_colss = data[float_columntwo]
columntwo_mean = float_colss.mean()
for col in float_colss.columns:
    data[col] = float_colss[col].fillna(columntwo_mean[col])
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3312 entries, 0 to 3311
Data columns (total 51 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   unit_id                  3312 non-null   int32
 1   ope_id                   3312 non-null   object
 2   main_campus              3312 non-null   bool
 3   branches                 3312 non-null   int32
 4   open_admissions          3312 non-null   bool
 5   name                     3312 non-null   object
 6   city                     3312 non-null   object
 7   state                    3312 non-null   category
 8   zip                      3312 non-null   object
 9   online_only              3113 non-null   object
 10  primary_degree           3312 non-null   category
 11  highest_degree           3312 non-null   category
 12  ownership                3312 non-null   category
 13  avg_sat                  3312 non-null   float64
 14  undergrad_pop            3312 non-null   float64
 15  grad_pop                 3312 non-null   float64
 16  cost                     3312 non-null   float64
 17  tuition                  3312 non-null   float64
 18  tuition_nonresident      3312 non-null   float64
 19  revenue_per_student      3312 non-null   float64
 20  spend_per_student        3312 non-null   float64
 21  avg_faculty_salary       3312 non-null   float64
 22  ft_faculty               3312 non-null   float64
 23  admission                3312 non-null   float64
 24  retention                3312 non-null   float64
 25  completion               3312 non-null   float64
 26  fed_loan                 3312 non-null   float64
 27  pell_grant               3312 non-null   float64
 28  avg_family_inc           3312 non-null   float64
 29  med_family_inc           3312 non-null   float64
 30  avg_10yr_salary          3312 non-null   float64
 31  sd_10yr_salary           3312 non-null   float64
 32  med_10yr_salary          3312 non-null   float64
 33  med_debt                 3312 non-null   float64
 34  med_debt_withdraw        3312 non-null   float64
 35  default_3yr_rate         3312 non-null   float64
 36  repay_5yr_rate_withdraw  3312 non-null   float64
 37  repay_5yr_rate           3312 non-null   float64
 38  avg_entry_age            3312 non-null   float64
 39  veteran                  3312 non-null   float64
 40  first_gen                3312 non-null   float64
 41  male                     3312 non-null   float64
 42  female                   3312 non-null   float64
 43  race_white               3312 non-null   float64
 44  race_black               3312 non-null   float64
 45  race_hispanic            3312 non-null   float64
 46  race_asian               3312 non-null   float64
 47  race_native              3312 non-null   float64
 48  race_pacific             3312 non-null   float64
 49  net_cost                 3312 non-null   float64
 50  race_other               3312 non-null   float64
dtypes: bool(2), category(4), float64(38), int32(2), object(5)
memory usage: 1.1+ MB

In [20]:
data = data.dropna(axis=0)
#dropping anyother rows

In [21]:
data.tuition.unique()

array([ 7182.,  7206.,  6870., ...,  4219., 15024.,  7866.])

In [22]:
data.to_excel('cleaned_scorecard.xlsx',index=False)

now we wat to work on predicton modelling
#indicating the target column

In [23]:
#i am printing the column name to know the name of the target variable
data.columns

Index(['unit_id', 'ope_id', 'main_campus', 'branches', 'open_admissions',
       'name', 'city', 'state', 'zip', 'online_only', 'primary_degree',
       'highest_degree', 'ownership', 'avg_sat', 'undergrad_pop', 'grad_pop',
       'cost', 'tuition', 'tuition_nonresident', 'revenue_per_student',
       'spend_per_student', 'avg_faculty_salary', 'ft_faculty', 'admission',
       'retention', 'completion', 'fed_loan', 'pell_grant', 'avg_family_inc',
       'med_family_inc', 'avg_10yr_salary', 'sd_10yr_salary',
       'med_10yr_salary', 'med_debt', 'med_debt_withdraw', 'default_3yr_rate',
       'repay_5yr_rate_withdraw', 'repay_5yr_rate', 'avg_entry_age', 'veteran',
       'first_gen', 'male', 'female', 'race_white', 'race_black',
       'race_hispanic', 'race_asian', 'race_native', 'race_pacific',
       'net_cost', 'race_other'],
      dtype='object')

In [24]:
#the target variable for this instance is the tuition fee
y = data['tuition']

In [25]:
y

0        7182.000000
1        7206.000000
2        6870.000000
3        9192.000000
4        8720.000000
            ...
3108     3626.000000
3109    17610.526056
3110    12474.000000
3111    15024.000000
3112     7866.000000
Name: tuition, Length: 3113, dtype: float64

In [26]:
#now we will indicate the features we will use to make the predicitons
X = data[['revenue_per_student','spend_per_student','pell_grant','avg_family_inc','cost','net_cost','veteran','online_only']]

In [27]:
X.describe(include='all')

,revenue_per_student,spend_per_student,pell_grant,avg_family_inc,cost,net_cost,veteran,online_only
count,3113.00000,3113.000000,3113.000000,3113.000000,3113.000000,3113.000000,3113.000000,3113
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3078
mean,13287.96882,9229.615879,0.471928,48851.826392,28980.378035,18819.491041,0.026716,NaN
std,8214.43859,11691.085046,0.201922,24728.118642,10974.203878,6638.568164,0.023579,NaN
min,0.00000,0.000000,0.000000,1090.000000,6172.000000,420.000000,0.001312,NaN
25%,7470.00000,4346.000000,0.324100,26271.393116,21526.000000,15104.000000,0.015221,NaN
50%,12218.00000,6849.000000,0.471928,47863.225354,28980.378035,18819.491041,0.027010,NaN
75%,17155.00000,10210.000000,0.615200,63659.549180,33245.000000,22491.000000,0.027010,NaN
max,123492.00000,307089.000000,1.000000,142405.218840,64233.000000,47639.000000,0.543046,NaN

In [28]:
#now we want to create the prediction model
collegecard_model = DecisionTreeRegressor(random_state = 2)
#indicating the ranndom  state to the number one helps to get the same value and result in the each run
collegecard_model.fit(X,y)

DecisionTreeRegressor(random_state=2)

In [29]:
print('now we want to predict the tuition fees using existing values in the dataset which are as shown below\n')
print('we are using the first five values')
print(X.head())
print('the predictions are as follows')
print(collegecard_model.predict(X.head()))

now we want to predict the tuition fees using existing values in the dataset which are as shown below

we are using the first five values
   revenue_per_student  spend_per_student  pell_grant  avg_family_inc  \
0               9063.0             7459.0      0.7115    29589.571371
1               9033.0            17208.0      0.3505    50152.641819
2              12057.0             5123.0      0.6839    22714.413953
3               8322.0             9352.0      0.3281    51013.170850
4               7813.0             7393.0      0.8265    28113.204453

      cost  net_cost   veteran online_only
0  18888.0   13415.0  0.027010       False
1  19990.0   14805.0  0.003541       False
2  12300.0    7455.0  0.027010       False
3  20306.0   17520.0  0.010128       False
4  17400.0   11936.0  0.003530       False
the predictions are as follows
[7182. 7206. 6870. 9192. 8720.]

In [30]:
data.tuition

0        7182.000000
1        7206.000000
2        6870.000000
3        9192.000000
4        8720.000000
            ...
3108     3626.000000
3109    17610.526056
3110    12474.000000
3111    15024.000000
3112     7866.000000
Name: tuition, Length: 3113, dtype: float64

In [38]:
#trying to add new data to test my model
new_data = pd.data({
    'revenue_per_student': [10500,5450],
    'spend_per_student': [8900,5300],
    'pell_grant': [0.5689,0.2345],
    'avg_family_inc':[60540,35900],
    'cost': [25700,14538],
    'net_cost': [7500,13450],
    'veteran': [0.023440,0.034459],
    'online_only': [False],
    'name': ['Feranmi state Univeristies','Elisha community college']
})
new_data = pd.concat([data,new_data],ignore_index=True)

TypeError: 'DataFrame' object is not callable

now we want to validate and check the accuracy of our model using MAE

In [32]:
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split

In [33]:
train_X, val_X,train_y,val_y = train_test_split(X,y,random_state = 2)
#specify the model
tuition_model = DecisionTreeRegressor(random_state=2)
#fit the model
tuition_model.fit(train_X,train_y)

DecisionTreeRegressor(random_state=2)

In [34]:
# get predicted prices on validation data
val_predictions = tuition_model.predict(val_X)
#print top prices from validation data

In [35]:
val_mae = mean_absolute_error(val_y, val_predictions)
val_mae

1707.9656077672755